* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background: black;
  color: white;
}

button {
  font-size: 1em;
  padding: 0.25em 1em;
  border-radius: 3%;
  transition: 0.3s;
  margin: 10px;
  text-decoration: none;
}

button:hover {
  font-size: 1.05em;
}

footer {
  text-align: center;
  margin: auto;
}

footer a {
  color: darkgrey;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

h1 {
  margin: 7px auto auto auto;
}

h2 {
  text-align: center;
  font-size: 1.75em;
}

h3 {
  font-size: 1.45em;
}

html {
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  transition: 0.3s;
  left: 0;
  right: 0;
  font-size: 17px;
}

i {
  font-size: 30px;
}

img {
  max-width: 75%;
}

main {
  margin-top: 95px;
}

section {
  width: 100%;
}

ul {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 450px;
}

#aboutme {
  width: 90%;
  margin: auto;
}

#bio {
  height: 85vh;
}

#contactlist {
  max-width: 900px;
  margin: auto;
}

#container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  background: #2b2b2b;
  color: white;
  transition: 0.3s;
  padding: 0 10px;
  height: 65px;
}

#desktop {
  width: 100%;
  max-width: 100%;
}

#getintouch {
  display: block;
  margin: auto;
  background: black;
  color: white;
  border: 2px solid white;
}

#getintouch a { 
  color: inherit;
  text-decoration: none;
}

#hamburger {
  display: none;
}

#links {
  width: 30%;
  height: 40px;
  color: white;
  display: flex;
  justify-content: space-between;
}

#links a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
  margin-top: 20px;
}

#links a:hover {
  font-size: 20px;
}

#mobile {
  display: none;
}

#pic {
  width: 100%;
  margin: auto;
}

#projects {
  padding-top: 10px;
}

#projectheader {
  max-width: 900px;
  margin: auto;
}

#project1 {
  background: #E85A4F;
}

#project2 {
  background: grey;
  color: black;
}

#project3 {
  background: burlywood;
  color: black;
}

#top {
  position: absolute;
  top: -30px;
}

.built {
  text-align: center;
}

.buttons {
  text-align: center;
  margin: auto;
}

.changegrey {
  background: #DDDDDD !important;
  color: black !important;
}

.changegrey a {
  color: black !important;
}

.changepurple {
  background: #E98074 !important;
}

.changewood {
  background: bisque !important;
  color: black !important;
}

.changewood a {
  color: black !important;
}

.downbutton {
  animation: pulse 1s infinite;
  background: black;
  color: white;
  border: none;
  bottom: 15px;
  position: relative;
  left: -50%;
}

.grey {
  background: #DDDDDD;
  border: 2px solid black;
  color: black;
}

.hidden {
  display: none;
}

.icon {
  margin: 0px 10px;
}

.inner {
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.innernav {
  max-width: 900px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.mb {
  max-width: 100%;
}

.mid {
  text-align: center;
  margin: auto;
  position: absolute;
  left: 50%;
  bottom: 25px;
}

.project {
  padding-top: 5px;
  padding-bottom: 20px;
  height: auto;
}

.projectimg {
  width: 100%;
}

.projectinfo {
  width: 100%;
}

.projectinner {
  max-width: 900px;
  margin: auto;
  display: flex;
}

.projectinner1 {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.red {
  background: #E98074;
  border: 2px solid white;
  color: white;
}

.skills li {
  display: inline;
  margin: 10px;
  text-align: center;
}

.tan {
  background: bisque;
  border: 2px solid black;
  color: black;
}

.title {
  display: block;
  text-align: center;
}


@keyframes pulse {
  0% {
    bottom: 15px;
  }

  100% {
    bottom: 25px;
  }
}

@media only screen and (max-width: 1030px) {
  #bio {
    height: 35vh;
  }

  .mid {
    position: relative;
    width: 50%;
    margin: 0;
  }
}

@media only screen and (max-width: 840px) {
  h1 {
    margin: 0;
  }

  img {
    max-width: 100%;
  }

  li {
    font-size: 12px;
  }

  #aboutme {
    width: 100%;
  }

  #bio {
    height: auto;
  }

  #container {
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 200px;
  }

  #desktop {
    display: none;
  }

  #links {
    display: none;
  }

  #mobile {
    display: block;
  }
  
  #hamburger {
    display: block;
    margin: auto 0;
  }

  #hamburgerlinks {
    text-align: center;
  }

  #hamburgerlinks a {
    color: white;
    display: block;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    margin-bottom: 15px;
  }

  #hambutton {
    background: #2b2b2b;
    color: white;
    border: 0px;
    margin: 0;
    padding: 0.25em 0;
  }

  .inner {
    display: block;
  }

  .innernav {
    max-width: 100%;
    margin: 0;
  }
  
  .mid {
    position: relative;
    bottom: -25px;
    width: 50%;
    margin: 0;
  }

  .mb {
    max-width: 80%;
    margin: auto;
  }

  .projectinner {
    display: block;
  }
}